:root {
  --char-size: 32px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "helvetica neue", helvetica, arial, sans;
  margin: 0;
  padding: 0;
}

header {
  background: #fad228;
  border-radius: 3px;
}

input[name="query"] {
  width: calc(100% - 16px);
  font-size: 24px;
  padding: 10px;
  color: #666;
  outline: none;
  border: none;
  margin: 8px;
  background: #FFFFFF;
}

.results {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.result {
  display: block;
  width: 100%;
  margin: 0;
  padding: 7px 0;
  background: transparent;
  position: relative;
  background: white;
}

.result:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.result.selected {
  background: #2874FA;
  color: white;
}

.result-char {
  display: inline-block;
  width: 52px;
  font-size: var(--char-size);
  line-height: var(--char-size);
  text-align: center;
  position: absolute;
  top: 9px;
  left: 0px;
}

.result-details {
  display: inline-block;
  width: calc(100% - 58px);
  line-height: var(--char-size);
  vertical-align: bottom;
  font-size: 16px;
  /*background: green;*/
  margin-left: 52px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-short-name {
  font-weight: bold;
}

.result-keywords {
  opacity: 0.5;
}
